<h1>Items</h1>

<h2>
	<% @items.each do |item| %>
	<li><%= link_to item.title, item_url(item.id) %> - 
		<%= item.description %> - 
		<% if item.completed %>
			<%= "done" %>
		<% else %>
		  <%= "in progress" %>
		<% end %>  
	</li>
	<br>
	<% end %>

</h2>

<center>
	<%= link_to "Create item", new_item_url, class: "btn" %>
</center>
	